@model CreateRole
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateRole</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4> Create Role</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create Role</button>
        </form>
    </div>

</div>

@if (ViewBag.RoleList != null)
{
    <form method="post" asp-action="CreateRole">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RoleName"></label>
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Role</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Role
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in ViewBag.RoleList)
            {
                <tr>
                    <td>
                        @role.Name
                    </td>

                    <td>
                        <a asp-controller="KPRole" asp-action="UserRole" asp-route-RoleId="@role.Id">Users Role</a> |

                        @if (role.Name.ToLower() != "administrators")
                        {
                            <a asp-controller="KPRole" asp-action="Delete" asp-route-id="@role.Id">Delete Role</a>
                        }
                    </td>
                </tr>
            }
    </table>
}

